# Creating a Database for a Hospital in MySQL Workbench

## Showing previously existing table

In [ ]:
df_12 = _dntk.execute_sql(
  'show tables;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_12

Empty DataFrame
Columns: [name]
Index: []

## Creating a table named "Doctors" with "DocIDN" as the primary key

In [ ]:
df_3 = _dntk.execute_sql(
  'drop table if exists Doctors;\ncreate table Doctors(\nDocLName varchar(500) NOT NULL, \nDocIDN int NOT NULL PRIMARY KEY,  \nSpecialty varchar(20) not Null);\ndescribe Doctors;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_3

  column_name column_type null   key default  extra
0    DocLName     VARCHAR   NO  None    None    NaN
1      DocIDN     INTEGER   NO   PRI    None    NaN
2   Specialty     VARCHAR   NO  None    None    NaN

## Adding values to the table "Doctors"

In [ ]:
df_4 = _dntk.execute_sql(
  'select * from doctors;\ninsert into doctors values(\'Howard\',123,\'Surgeon\'),(\'Miller\', 456, \'Pulmonologist\'),\n(\'Jackson\', 789, \'Cardiologist\'), (\'Matthews\', 102,\'Surgeon\'), \n(\'Stewarts\',354, \'Radiologist\');\nselect * from doctors;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_4

   DocLName  DocIDN      Specialty
0    Howard     123        Surgeon
1    Miller     456  Pulmonologist
2   Jackson     789   Cardiologist
3  Matthews     102        Surgeon
4  Stewarts     354    Radiologist

## Creating a table named "Patients"

In [ ]:
df_5 = _dntk.execute_sql(
  'drop table if exists Patients;\ncreate table Patients(\nFK_DocIDN int NOT NULL, \nPatientStatus varchar(20) not null, \nPatientBirthday date not null,\nForeign Key (FK_DocIDN) references Doctors(DocIDN)); \ndescribe Patients;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_5

       column_name column_type null   key default  extra
0        FK_DocIDN     INTEGER   NO  None    None    NaN
1    PatientStatus     VARCHAR   NO  None    None    NaN
2  PatientBirthday        DATE   NO  None    None    NaN

## Adding values to the table "Patients"

In [ ]:
df_6 = _dntk.execute_sql(
  'select * from Patients;\ninsert into Patients values (123, \'Critical\', \'1942-12-8\'), (456, \'Stable\', \'2000-9-4\'),\n(789, \'Recovering\', \'1993-2-8\'), (102, \'Discharged\', \'2003-6-12\'), (354, \'ICU\', \'1950-5-7\');\nselect * from Patients;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_6

   FK_DocIDN PatientStatus PatientBirthday
0        123      Critical      1942-12-08
1        456        Stable      2000-09-04
2        789    Recovering      1993-02-08
3        102    Discharged      2003-06-12
4        354           ICU      1950-05-07

## Creating a table named "Salary" for the doctor's salaries and their home city

In [ ]:
df_7 = _dntk.execute_sql(
  'drop table if exists Salary;\ncreate table Salary(\nDocIDN int NOT NULL PRIMARY KEY, \nMonthlySalary decimal(30,2) null default 0,\nHomeCity varchar(25));\ndescribe Salary; ',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_7

     column_name    column_type null   key default  extra
0         DocIDN        INTEGER   NO   PRI    None    NaN
1  MonthlySalary  DECIMAL(30,2)  YES  None       0    NaN
2       HomeCity        VARCHAR  YES  None    None    NaN

## Adding values to the table "Salary" and also adding the home city

In [ ]:
df_8 = _dntk.execute_sql(
  'select * from Salary;\ninsert into salary values(123, 24000, \'Chesterfield\'), (456, 28000, \'Creve Coeur\'), \n(789, 26000, \'St.Louis\'),(102, 24000, \'Clayton\'), (354, 27000, \'St.Louis\');\nselect * from Salary;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_8

   DocIDN  MonthlySalary      HomeCity
0     123        24000.0  Chesterfield
1     456        28000.0   Creve Coeur
2     789        26000.0      St.Louis
3     102        24000.0       Clayton
4     354        27000.0      St.Louis

## Creating a table named "DocInfo"

In [ ]:
df_9 = _dntk.execute_sql(
  'drop table if exists DocInfo;\ncreate table DocInfo( DocLName varchar(500) not null,\nDocIDN int not null, \nMonthlySalary decimal(30,2) null default 0);\ndescribe DocInfo;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_9

     column_name    column_type null   key default  extra
0       DocLName        VARCHAR   NO  None    None    NaN
1         DocIDN        INTEGER   NO  None    None    NaN
2  MonthlySalary  DECIMAL(30,2)  YES  None       0    NaN

## Adding values to the table "DocInfo"

In [ ]:
df_10 = _dntk.execute_sql(
  'select * from DocInfo;\ninsert into DocInfo values(\'Howard\',123, 24000), (\'Miller\',456, 28000), \n(\'Jackson\',789, 26000),(\'Matthews\',102, 24000), (\'Stewarts\',354, 27000);\nselect * from DocInfo;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_10

   DocLName  DocIDN  MonthlySalary
0    Howard     123        24000.0
1    Miller     456        28000.0
2   Jackson     789        26000.0
3  Matthews     102        24000.0
4  Stewarts     354        27000.0

## Finding total salary using DocIDN

In [ ]:
df_11 = _dntk.execute_sql(
  'SELECT DocIDN, SUM(MonthlySalary) as TotalSalary\nFROM df_8\nWHERE DocIDN = 123 OR DocIDN = 456\nGROUP BY DocIDN;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_11

   DocIDN  TotalSalary
0     123      24000.0
1     456      28000.0

## Finding speciality of a doctor using name

In [ ]:
df_13 = _dntk.execute_sql(
  'SELECT \n    CASE \n        WHEN DocLName = \'Howard\' THEN CONCAT(\'Speciality of \', DocLName, \' is \', Specialty)\n        WHEN DocLName = \'Gravot\' THEN CONCAT(DocLName, \' is not a doctor\')\n    END AS Specialty_of_Doc\nFROM df_4\nWHERE DocLName IN (\'Howard\', \'Gravot\');',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_13

                  Specialty_of_Doc
0  Speciality of Howard is Surgeon

## Updating salary of the doctors

In [ ]:
df_14 = _dntk.execute_sql(
  'UPDATE Salary \nSET MonthlySalary = MonthlySalary + 10 \nWHERE MonthlySalary < 26000;\nSELECT * FROM Salary;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_14

   DocIDN  MonthlySalary      HomeCity
0     123        24010.0  Chesterfield
1     456        28000.0   Creve Coeur
2     789        26000.0      St.Louis
3     102        24010.0       Clayton
4     354        27000.0      St.Louis

## Selecting and retrieving patient info based on the condition of the patient

In [ ]:
df_15 = _dntk.execute_sql(
  'SELECT \n    CASE \n        WHEN PatientStatus = \'Recovering\' THEN CONCAT(\'Birthday of recovering patient is \', PatientBirthday)\n        WHEN PatientStatus = \'Critical\' THEN CONCAT(\'Birthday of critical patient is \', PatientBirthday)\n        ELSE CONCAT(PatientStatus, \' is not a patient\')\n    END AS Patient_Info\nFROM Patients\nWHERE PatientStatus IN (\'Recovering\', \'Critical\');',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_15

                                   Patient_Info
0  Birthday of recovering patient is 1993-02-08
1    Birthday of critical patient is 1942-12-08

## Getting average salary

In [ ]:
df_16 = _dntk.execute_sql(
  'SELECT AVG(MonthlySalary) as AvgSalary FROM Salary;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_16

   AvgSalary
0    25804.0

## Getting monthly salary by name

In [ ]:
df_17 = _dntk.execute_sql(
  'SELECT \n    CASE \n        WHEN DocLName = \'Matthews\' THEN CONCAT(\'Monthly salary of \', DocLName, \' is $\', MonthlySalary)\n        ELSE CONCAT(\'Matthews\', \' is not a Doctor\')\n    END AS DocSalary\nFROM df_10\nWHERE DocLName = \'Matthews\';',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_17

                                DocSalary
0  Monthly salary of Matthews is $24000.0